{# Refers back to the base template #}
{% extends "base.html" %}

{# identifies this content as going in the block content in the base template #}
{% block content %}

<article class="category">
    <h1 class="heading">Table of Contents</h1>
    <nav>
        <a href="/web_basics">Web Basics</a><br>
        <a href="/html_notes">HTML Notes</a><br>
        <a href="/css_notes">CSS Notes</a><br>
        <a href="/python_notes">Python Notes</a><br>
        <a href="/tips_and_tricks">Tips and Tricks</a>
    </nav>
</article>

{% endblock %}